/* Setting up the webpage skeleton */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: antiquewhite;
}
/* Adding style to the header and navigation bar */
header {
  padding: 10px;
  background-color: #ede1d0;
  color: black;
  text-align: center;
}
header h1 {
  display: inline-block;
  font-size: 50px;
  padding: 30px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header img {
  width: 80px;
  height: 80px;
  border-radius: 25%;
}
header nav ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Modifying all links and borders */
a {
  text-decoration: none;
  color: black;
}
.border-hover:hover {
  border: solid 3px black;
  border-top: solid 3px black;
}
h3 {
  font-size: 22px;
  font-family: cursive;
  margin-bottom: 40px;
  text-align: center;
}
/* Laying out the main section and article sections */
main {
  display: inline-block;
  width: 100%;
}
#AboutMe {
  background-color: #f0af1e;
  opacity: 0.7;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
#Work {
  background-color: #6a998b;
  opacity: 0.7;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
/* Adding style to items within flex container */
.smallerApps {
  flex: 3;
  display: flex;
  flex-shrink: 2;
  background-color: #6a998b;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.snapshot {
  padding: 10px;
  margin: 35px;
  flex: 0 2 395px;
}
.snapshot header {
  padding: 20px;
  background-color: #ede1d0;
}
.snapshot img {
  width: 100%;
}
/* Styling the bottom article and footer */
#ContactMe {
  background-color: #f0788b;
  opacity: 0.7;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
footer {
  text-align: center;
  font-family: cursive;
  font-weight: 100;
}
/* Making the webpage responsive to mobile devices */
@media screen and (max-width: 400px) {
  header img {
    width: 100px;
    height: 100px;
  }
  #AboutMe {
    text-align: center;
  }
  #Work {
    text-align: center;
  }
  #ContactMe {
    text-align: center;
  }
}
